source https://www.nuget.org/api/v2
framework net40
nuget Microsoft.Azure.Management.ResourceManager prerelease
nuget Microsoft.Rest.ClientRuntime.Azure.Authentication prerelease
nuget FSharp.Core
nuget Newtonsoft.Json
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs